#fan{
    
   display: flex;
   justify-content: center;

    

}

#errorText{
    font-size: 9.3rem;
    font-weight: bolder;

    width:33.75rem ;
    height: 20.8rem;
    top: 24.5rem;
    left: 28rem;
}


#fanImg{
    display: inline-block;
}

#err{
    font-size: 3rem;
}

#homeLink{
    font-size: 1rem;
    text-decoration: underline;
}