:root {
  --bg-primary: #edf4fa;
  --btn-primary: #00aff0;
  --green: #00f090;
  --dark: #313131;
  --turquoise: #00aff0;
  --slider-mark: #b1e3f5;
  --grey: #e1e5e7;
  --dark-blue: #4677b4;
  --base-colour: #000000;
  --accent-colour: #000000;
}
