:root {
  --bg-primary: #edf4fa;
  --btn-primary: #00aff0;
  --green: #00f090;
  --dark: #313131;
  --turquoise: #00aff0; /* we'll sort this at a later stage */
  --grey: #e1e5e7;
  --dark-blue: #4677b4;
}
