@import "./colours.css";

main {
    margin: 0 1rem;
}

.heading {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -0.04rem;
    color: var(--dark);
    margin-bottom: 1rem;
}

#exploreBtn {
    float: right;
    margin-top: 1.5rem;
}

.card {
    text-align: right;
}

#discover {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    grid-template-areas: 
      "A B"
      "A C";
    height: 60rem;
    margin-top: 1rem;
}

/* FEATURED CARD */

#featured {
    grid-area: A;
    text-align: left;
}

#featured h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

#featured h2 {
    text-transform: uppercase;
    color: var(--green);
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -0.04rem;
    margin-top: 0;
}

/* FAN OF THE WEEK */

#fotw {
    grid-area: B;
    background-size: contain;
}

#fotw h1 {
  text-transform: uppercase;
}

#fotw h2 {
    color: var(--btn-primary);
    font-weight: 700;
}

#fotw h3 {
    font-weight: 500;
}

/* PICK A FAN */
#pick-a-fan {
    grid-area: C;
}

#pick-a-fan h1, #pick-a-fan h2 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -0.04rem;
    margin: 0 auto;
}

#explore {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    grid-template-areas: 
      "A B C"
      "A D E"
      "A F F";
    height: 60rem;
    margin-bottom: 1rem;
}

#standing {
    grid-area: A;
}

#desk {
    grid-area: B;
}

#ceiling {
    grid-area: C;
}

#turbine {
    grid-area: D;
}

#case {
    grid-area: E;
}

#aircon {
    grid-area: F;
}

.test {
  /* -webkit-appearance: none; */
  background-color: orange;
  color: yellow;
}

.test::-webkit-slider-runnable-track {
  /* -webkit-appearance: none; */
  /* background: green; */
}

.test::-webkit-slider-thumb {
  /* these should be the dimensions of your image */
  height: 20px;
  width: 20px;
  background: #000; /* or your image */
}