@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

@import "components/stars/stars.css";
@import "components/card/card.css";
@import "components/header/header.css";

* {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
}

main,
footer {
  width: 100%;
}
