.button {
	background-color:#00AFF0;
	border-radius:12px;
	border-color: #00AFF0;

	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	box-shadow: none;
}
.button:hover {

	background-color:#476e9e;
}
.button:active {

	top:1px;
}
